:root{
    --dark-blue: #051E34;
    --blue: #1B72E8;
}
a{
    color: currentColor;
    text-decoration: none;
}
ul,
ol,
menu{
    list-style:none; 
    padding:0;
}
img{
    max-width: 100%;
    display: block;
}
/* utility */
.height-100{
    height: 100%;
}
.bg-light-gray{
    background-color: #E5E5E5;
}
/* app  */
#app{
    height: 100vh;
}

.header-container{
    width: 70px;
    background-color: var(--dark-blue);
    background-image: url(../img/sidebar-bg.png);

}
.main-container{

}
.aside-container{
    /* height: 70px; */
    background-color: white;
    margin: 20px 10px;
}
/* logo  */
.logo-mobile{
    width: 35px;
    aspect-ratio: 1;
}
/* searchbar */
.search-bar-input{
    width: 100%;
}


/* media query  */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header-container{ 
    width: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }


/* debug  */
.debug #app {
    border: 2px solid orange;
    padding: 20px;
}
.debug .container-fluid {
    border: 2px solid purple;
    padding: 20px;
}
.debug .header-container{
    border: 2px solid greenyellow;
    padding: 20px;
}
.debug .main-container {
    border: 2px solid cornflowerblue;
    padding: 20px;
}   